@tailwind base;
@tailwind components;
@tailwind utilities;

.form-style{
  @apply appearance-none  border border-gray-300 text-gray-900 text-sm md:text-xs rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full px-2.5 py-2.5 focus:outline-none 
}

@font-face {
  font-family: ForumRegular;
  src: url('../assets/fonts/Forum-Regular.ttf');
}

@font-face {
  font-family: PinyonScriptRegular;
  src: url('../assets/fonts/PinyonScript-Regular.ttf');
}

.myFont{
  font-family: ForumRegular;
}
.mainfont{
  font-family: PinyonScriptRegular;
}

.containercustom {
  overflow: hidden;
}

.sliding-background {
  background: url("../assets/countingBg.png") repeat-y;
  -webkit-animation: bgScroll 600s linear infinite;
  animation: bgScroll 600s linear infinite;
  height: 100%;
  background-size: cover;
  position: relative;
}

@keyframes bgScroll{  
  0% {
      background-position: 0 0;
  }
  100% {
      background-position: 0 10000%;
 }
}
